# Ignore everything...
**

# ...except:
!CMakeLists.txt
!apps/
!cmake/
!core/
!doc/
!docker/
!gadgets/
!justfile
!libmrd/
!test/
!toolboxes/
!environment.yml
!.devcontainer/devcontainer.bashrc

# but also ignore:
test/integration/data/
test/e2e/data/
*.Dockerfile
docker/integration-test-image.sh