*~
*.so
*.dll
*.o
*.cuo
*#
*.dylib
*.real
*.cplx
inc/
*.d
!CMakeLists.txt
bin/
lib/*.py
lib/*.pyc
.DS_Store
*.swp
build/
*.pyc
toolboxes/core/core_defines.h
prod/
external/
test/integration/test_cases.txt