*~
*.so
*.dll
*.o
*.cuo
*#
*.dylib
*.real
*.cplx
*.bak
inc/
*.d
!CMakeLists.txt
bin/
lib/*.py
lib/*.pyc
.DS_Store
*.swp
build/
build_debug/
*.pyc
toolboxes/core/core_defines.h
prod/
test/integration/test_cases.txt
*.h5
tags
test/integration/*.xprot
test/integration/*.xml
.atom-build.json
.vscode/