*~
*.so
*.dll
*.o
*.cuo
*#
gadgetron
gadgetrondatasender
*.dylib
*.real
*.cplx
inc/
*.d
*.txt
!CMakeLists.txt
config/
bin/
apps/standalone/gpu/CT/parallel_beam/2d+t/cgbackprojection_spatial_reg
apps/standalone/gpu/CT/parallel_beam/2d+t/cgbackprojection_temporal_reg
apps/standalone/gpu/CT/parallel_beam/2d+t/generate_projections
apps/standalone/gpu/CT/parallel_beam/2d/backwards_projection
apps/standalone/gpu/CT/parallel_beam/2d/forwards_projection
apps/standalone/gpu/MRI/nfft/2d/nfft
apps/standalone/gpu/MRI/nfft/2d/nffth
apps/standalone/gpu/MRI/nfft/ms2d/nfft
apps/standalone/gpu/MRI/nfft/ms2d/nffth
apps/standalone/gpu/MRI/sense/noncartesian/radial/2d_golden_ratio_kt/radial_ktsense
apps/standalone/gpu/MRI/sense/noncartesian/radial/2d_golden_ratio/radial_sense_cg
apps/standalone/gpu/MRI/sense/noncartesian/radial/2d_golden_ratio/radial_sense_sb
lib/*.py
lib/*.pyc
.DS_Store
build/