<?xml version="1.0" encoding="UTF-8"?>
<gadgetronConfiguration xsi:schemaLocation="http://gadgetron.sf.net/gadgetron gadgetron.xsd"
        xmlns="http://gadgetron.sf.net/gadgetron"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        
  <port>9002</port>

  <cloudBus>
    <relayAddress>localhost</relayAddress>
    <port>8002</port>
  </cloudBus>

  <rest>
    <port>9080</port>
  </rest>
  
</gadgetronConfiguration>
  
